.searchbar{
    display: flex;
    justify-content: center;
    background-image: url("../../images/air.jpg");
    background-position: center center;
    background-size: cover;
    
}

.stupid{
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* max-width:100%; */
    border: 2px black solid;
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.button{
    margin-top: 20px;
    color: black;
    border-color: black;

}